################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestApplication/bin/Debug
/UnitTestApplication/obj/Debug
/UnitTestApplication/bin
/ConsoleApplication/obj/Debug
/ConsoleApplication/bin/Debug
/UnitTestApplication/UnitTestProject/bin/Debug
/UnitTestApplication/UnitTestProject/obj/Debug
/UnitTestApplication/TestResults
