################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnitTestApplication/bin/Debug
/UnitTestApplication/obj/Debug
